body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: #222;

  .gantt {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/

    position:fixed;
    top:0;bottom:0;
    left:0;right:0;
   
    .main-area {
      height:100%;
      margin:0 auto;
      overflow:hidden;
      position:relative;

      .days {
        height:100%;
        position:relative;

        .day {
          float:left;
          height:100%;
          width:50px;
          background-color: #333;

          &:nth-child(2n) {
            background-color: #222;
          }

          .month {
            color:rgba(white, 0.6);
            font-size:12px;
            text-align:center;
            height:30px;line-height:30px;
          }
          .date {
            color:white;
            text-align: center;
            font-size:14px;
            height:30px;line-height:30px;
            font-weight:bold;
            border-bottom:solid 2px rgba(white, 0.2);
            padding-bottom:5px;
          }

          $c: lighten(red, 30%);
          &.sunday {
            // background-color:rgba($c, 0.1);
          }
          &.saturday {
            // background-color:rgba($c, 0.03);
          }

          &.sunday, &.saturday{
            .date {
               border-bottom:solid 2px $c;
            }
            .month, .date {
              color: lighten(red, 30%);
            }
          }

          &.today {
            $c: lighten(#44B2F5, 0%);
            // .date {
            //   border-bottom:solid 2px $c;
            // }
            .month, .date {
              color: $c;
            }
          }
        }
      }

      .tasks-scroller {
        position:absolute;
        top:67px;left:0;right:0;bottom:0;
        overflow-y:scroll;
        overflow-x:hidden;

        .tasks {
          .task-bundle {
            border-radius:2px;
            height:30px;
            background-color:rgba(#ffffff, 0.8);
            position: absolute;
            .text {
              position: absolute;
              left:100%;
              width:1000px;
              font-size: 13px;
              .person {
                height:30px;line-height:30px;
                color:white;
                margin-left: 10px;
                font-weight:bold;
              }
              .desc {
                height:30px;line-height:30px;
                color:#ccc;
                margin-left: 10px;
              }
            }

            &.with-children {
              border-radius:2px 2px 0 0;
              // $c: rgba(#FFCC3F, 0.8);
              $c:rgba(#44B2F5, 0.8);
              background-color:$c;
              height:10px;
              margin-top:5px;
              .text {
                margin-top: -5px;
              }

              &:before {
                content: "";
                position:absolute;
                border:solid 5px transparent;
                border-top:solid 5px $c;
                border-left:solid 5px $c;
                top:10px;
                left:0;
              }
              &:after {
                content: "";
                position:absolute;
                border:solid 5px transparent;
                border-top:solid 5px $c;
                border-right:solid 5px $c;
                top:10px;
                right:0px;
              }
            }

            &.milestone {
              .text {
                margin-left:20px;
                &:before {
                  content:"";
                  position:absolute;
                  border:solid 10px transparent;
                  border-right:solid 10px #FFCC3F;
                  left:-20px;
                  top:5px;
                }
                .person {
                  color:#FFCC3F;
                }
              }
            }

            &.finished {
              background-color: rgba(#4CC85E, 0.8);
              &:after {
                content:"ok";
                font-weight:bold;
                height:20px;line-height:20px;
                position:absolute;
                top:5px;right:10px;
                color:white;
                font-size:12px;
              }
            }

            &.waiting {
              &:after {
                content:"wait";
                // background-color: #F18D05;
                background-color:rgba(#FF4400, 0.8);
                position:absolute;
                top:5px;right:5px;
                border-radius:2px;
                color:white;
                font-size:12px;
                line-height:20px;height:20px;
                padding:0 5px;
              }
            }

            &.active {
              background-color: #FFCC3F;
              &:after {
                content:"active";
                position:absolute;
                top:5px;right:5px;
                color:rgba(black, 0.9);
                font-size:12px;
                line-height:20px;height:20px;
                padding:0 5px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}